@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Offside&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}

:root{
    --main-color:#f7dcb1;
}

::-webkit-scrollbar{
  display: none;
}

.header{
    color: #000;
    font-size: 1.5rem;
    margin-left: 3rem;
    font-family: 'Sacramento', cursive;
    padding-top: 1rem;
}

.site {
    /* text-decoration: underline; */
    color: #000;
}

header{
    display: flex;
    height: 4rem;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    z-index: 10000;
    background: transparent;
    position: relative;
}

.header-location{
    font-size: .8rem;
    font-family: 'Comfortaa', cursive;
    line-height: 1.2rem;
}

/* svg{
  viewport-fit: 0 0 35 35;
  height: 40px;
  width: 40px;
} */


.hero{
    background: linear-gradient(
        to left,
     #f7dcb1 0%,
     #f7dcb1 50%,
     #fff 50%,
     #fff 100%
     );
}

span{
  color: #EFCC95;
}

.hero{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  width: 100vw;
  height: auto;
  position: absolute;
  left: 0;
  top: 0;
}

.form-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  width: 50vw;
}

form{
  display: flex;
  flex-direction: column;
  /* margin-top: 15rem; */
  width: 660px;
  height: auto;
}

.side-content{
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: center; */
  width: 50vw;
}

.form-header{
  font-size: 1.7rem;
  font-family: 'Comfortaa', cursive;
  margin-top: 9rem;
  margin-bottom: 3rem;
  margin-left: 0;
  font-weight: 100;
  text-align: center;
}

.form-sub{
  font-size: 1rem;
  font-family: 'Comfortaa', cursive;
  margin-bottom: 5rem;
  margin-left: 0;
  font-weight: 100;
  text-align: center;
  width: 40ch;
  line-height: 2;
}

input{
  margin-bottom: 10px;
  height: 70px;
  border: transparent;
  border-bottom: 1px solid #bfbfbf;
  padding: 0.5rem 1rem;
  outline: none;
  margin-left: 5rem;
  margin-right: 5rem;
  font-family: 'Comfortaa', cursive;
  font-size: 1rem;
}

label{
  margin-left: 5rem;
  font-size: .8rem;
  margin-top: .5rem;
  font-family: 'Comfortaa', cursive;
}
   
button{
  display: inline-block;
  padding: 9px 25px;
  background: #EFCC95;
  border: none;
  border-radius: 10px;
  letter-spacing: 1px;
  font-size: 1.5rem; 
  font-weight: 100;
  transition: ease .50s;
  font-family: 'Comfortaa', cursive;
  margin-left: 5rem;
  margin-right: 5rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  /* animation: squish 1s alternate ease-in-out infinite; */
  width: 250px;
  height: 70px;
  cursor: pointer;
}

@keyframes squish{
  25%{transform: 
      scale(0.8,1.1);}
}

button:hover{
  background: var(--main-color);
}

.description{
  text-align: center;
}

.cta{
  margin-top: 5rem;
  margin-bottom: 3rem;
  /* margin-left: 5rem; */
  font-weight: 100;
  font-size: 2.8rem;
  padding-left: 50px;
  padding-right: 50px;
  font-family: 'Comfortaa', cursive;
  line-height: 1.5;
}

.cta-sub{
  margin-bottom: 5rem;
  margin-top: 5rem;
  font-weight: 100;
  font-family: 'Comfortaa', cursive;
  font-size: 0.9rem;
  padding-left: 5rem;
  padding-right: 5rem;
  line-height: 1.9rem;
}

.location{
  display: flex;
  flex-direction: column;
  gap: 1.1rem;
}

.place{
  display: flex;
  gap: 1.5rem;
  align-items: center;
  /* justify-content: center; */
  margin-left: 5rem;
  font-family: 'Comfortaa', cursive;
  color: #000;
  font-weight: 100;
}

.phone{
  display: flex;
  gap: 1.5rem;
  align-items: center;
  /* justify-content: center; */
  margin-left: 5rem;
  color: #000;
  text-decoration: none;
  font-family: 'Comfortaa', cursive;
  color: #000;
  font-weight: 100;
  /* text-decoration: underline; */
}

.email{
  display: flex;
  gap: 1.5rem;
  align-items: center;
  /* justify-content: center; */
  margin-left: 5rem;
  margin-top: 6px;
  color: #000;
  /* text-decoration: underline; */
  font-family: 'Comfortaa', cursive;
  font-weight: 100;
}

p{
  color: #000;
}

.header-location{
  font-family: 'Comfortaa', cursive;
  font-size: 1rem;
}

.map{
  width: 40px;
  height: 40px;
}

.contact-socials{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}

.contact-socials a{
  margin-right: 20px;
}

@media screen and (max-width: 540px) {

  header{
    display: flex;
    height: 4rem;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    z-index: 10000;
    background: #f7dcb1;
}

  .hero{
    flex-direction: column-reverse;
    gap: 0;
  }

  .hero{
    background: linear-gradient(
        to bottom,
     #f7dcb1 0%,
     #f7dcb1 55%,
     #fff 55%,
     #fff 100%
     );
}

.cta{
  margin-top: 6rem;
  text-align: center;
  font-size: 2.5rem;
  padding-left: 5rem;
  padding-right: 5rem;
  line-height: 1.7;
}

.cta-sub{
  margin-bottom: 3rem;
  margin-top: 3rem;
  font-weight: 300;
  font-family: 'Comfortaa', cursive;
  font-size: 0.85rem;
  font-weight: 100;
  padding-left: 3rem;
  padding-right: 3rem;
  text-align: center;
  line-height: 2.5rem;
}

.location{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  /* position: relative;
  bottom: 0; */
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
}

.place{
  display: flex;
  gap: 1.5rem;
  align-items: center;
  /* justify-content: center; */
  margin-left: 0rem;
}

.phone{
  display: flex;
  gap: 1.5rem;
  align-items: center;
  /* justify-content: center; */
  margin-left: 0rem;
  color: #000;
  text-decoration: none;
  font-family: 'Comfortaa', cursive;
}

.email{
  display: flex;
  gap: 1.5rem;
  align-items: center;
  /* justify-content: center; */
  margin-left: 0rem;
  margin-bottom: 50px
  color: #000;
  text-decoration: none;
  font-family: 'Comfortaa', cursive;
}

.form-header{
  font-size: 1.85rem;
  text-align: center;
  font-family: 'Comfortaa', cursive;
  margin-top: 6rem;
  margin-bottom: 3rem;
  margin-left: 0rem;
  font-weight: 100;
  line-height: 1.7;
  padding-right: 50px;
  padding-left: 50px;
}

.form-sub{
  text-align: center;
  font-size: 1rem;
  line-height: 2.3rem;
  font-weight: 100;
  font-family: 'Comfortaa', cursive;
  margin-bottom: 5rem;
  margin-left: 0rem;
}

form{
  width: auto;
}

input{
  margin-bottom: 50px;
  height: 70px;
  border: transparent;
  border-bottom: 1px solid #bfbfbf;
  padding: 0.5rem 1rem;
  outline: none;
  margin-left: 0rem;
  margin-right: 0rem;
  width: 80vw;
  align-self: center;
  position: relative;
  font-size: 1rem;
}

label{
  margin-left: 0rem;
  font-size: .9rem;
  font-family: 'Comfortaa', cursive;
  position: relative;
  /* left: -60px; */
}
   
button{
  display: inline-block;
  padding: 9px 25px;
  background: #EFCC95;
  border: none;
  border-radius: 10px;
  letter-spacing: 1px;
  font-size: 1.3rem; 
  font-weight: 300;
  transition: ease .50s;
  font-family: 'Comfortaa', cursive;
  margin-left: 0rem;
  margin-right: 0rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  width: 250px;
  align-self: center;
}

button:hover{
  background: var(--main-color);
}

.side-content{
  height: auto;
  width: 100vw;
  background: #f7dcb1 ;
}

.form-container{
  height: 100vh;
  margin-bottom: 1.9rem;
  position: relative;
  width: 100vw;
}

.contact-socials{
  position: relative;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  /* left: 15px;
  right: 15px; */
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.contact-socials a{
  margin-top: 10px;
  margin-bottom: 20px;
  margin-right: 10px;
  margin-left: 10px;
}

svg{
/*   viewport-fit: 0 0 35 35; */
  height: 35px;
  width: 35px;
}

body{
  position: relative;
}

}
